## PySpark Full Course From FreeCodeCamp
PySpark is often used for large-scale data processing and machine learning. I didn't watch the whole Video , just till `1:17:00`
 - Youtube Video - https://www.youtube.com/watch?v=_C8kWso4ne4
 - GitHub Repository - https://github.com/krishnaik06/Pyspark-With-Python
 - Spark Webiste - https://spark.apache.org/
 - PySpark Documentation - https://spark.apache.org/docs/latest/api/python/

In [48]:
# !pip install pyspark

In [88]:
import pyspark
import pandas as pd

In [50]:
# Reading `csv` using Pandas 
pd.read_csv('Startups.csv')

,R&D Expenditure,Administration Expenditure,Marketing Expenditure,State,Profit
0,165349.20,136897.80,471784.10,Florida,192261.83
1,162597.70,151377.59,443898.53,Florida,191792.06
2,153441.51,101145.55,407934.54,Florida,191050.39
3,144372.41,118671.85,383199.62,Florida,182901.99
4,142107.34,91391.77,366168.42,Florida,166187.94
5,131876.90,99814.71,362861.36,Florida,156991.12
6,134615.46,147198.87,127716.82,Florida,156122.51
7,130298.13,145530.06,323876.68,Florida,155752.60
8,120542.52,148718.95,311613.29,Florida,152211.77
9,123334.88,108679.17,304981.62,Florida,149759.96
10,101913.08,110594.11,229160.95,Florida,146121.95
11,100671.96,91790.61,249744.55,Florida,144259.40
12,93863.75,127320.38,249839.44,Florida,141585.52
13,91992.39,135495.07,252664.93,Florida,134307.35
14,119943.24,156547.42,256512.92,Florida,132602.65
15,114523.61,122616.84,261776.23,Florida,129917.04
16,78013.11,121597.55,264346.06,Florida,126992.93
17,94657.16,145077.58,282574.31,Florida,125370.37
18,91749.16,114175.79,294919.57,Florida,124266.90
19,86419.70,153514.11,0.00,Florida,122776.86
20,76253.86,113867.30,298664.47,Florida,118474.03
21,78389.47,153773.43,299737.29,Florida,111313.02
22,73994.56,122782.75,303319.26,Florida,110352.25
23,67532.53,105751.03,304768.73,Florida,108733.99
24,77044.01,99281.34,140574.81,Florida,108552.04
25,64664.71,139553.16,137962.62,Florida,107404.34
26,75328.87,144135.98,134050.07,Florida,105733.54
27,72107.60,127864.55,353183.81,Florida,105008.31
28,66051.52,182645.56,118148.20,Florida,103282.38
29,65605.48,153032.06,107138.38,Florida,101004.64
30,61994.48,115641.28,91131.24,Florida,99937.59
31,61136.38,152701.92,88218.23,Florida,97483.56
32,63408.86,129219.61,46085.25,Florida,97427.84
33,55493.95,103057.49,214634.81,Florida,96778.92
34,46426.07,157693.92,210797.67,Florida,96712.80
35,46014.02,85047.44,205517.64,Florida,96479.51
36,28663.76,127056.21,201126.82,Florida,90708.19
37,44069.95,51283.14,197029.42,Florida,89949.14
38,20229.59,65947.93,185265.10,Florida,81229.06
39,38558.51,82982.09,174999.30,Florida,81005.76
40,28754.33,118546.05,172795.67,Florida,78239.91
41,27892.92,84710.77,164470.71,Florida,77798.83
42,23640.93,96189.63,148001.11,Florida,71498.49
43,15505.73,127382.30,35534.17,Florida,69758.98
44,22177.74,154806.14,28334.72,Florida,65200.33
45,1000.23,124153.04,1903.93,Florida,64926.08
46,1315.46,115816.21,297114.46,Florida,49490.75
47,0.00,135426.92,0.00,Florida,42559.73
48,542.05,51743.15,0.00,Florida,35673.41
49,0.00,116983.80,45173.06,Florida,14681.40

### Create Spark Session and show the Data

In [51]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [52]:
spark

In [53]:
df_pyspark = spark.read.csv('Startups.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [54]:
df_pyspark.show()

+---------------+--------------------+--------------------+-------+---------+
|            _c0|                 _c1|                 _c2|    _c3|      _c4|
+---------------+--------------------+--------------------+-------+---------+
|R&D Expenditure|Administration Ex...|Marketing Expendi...|  State|   Profit|
|       165349.2|            136897.8|            471784.1|Florida|192261.83|
|       162597.7|           151377.59|           443898.53|Florida|191792.06|
|      153441.51|           101145.55|           407934.54|Florida|191050.39|
|      144372.41|           118671.85|           383199.62|Florida|182901.99|
|      142107.34|            91391.77|           366168.42|Florida|166187.94|
|       131876.9|            99814.71|           362861.36|Florida|156991.12|
|      134615.46|           147198.87|           127716.82|Florida|156122.51|
|      130298.13|           145530.06|           323876.68|Florida| 155752.6|
|      120542.52|           148718.95|           311613.29|Florida|152211.77|
|      123334.88|           108679.17|           304981.62|Florida|149759.96|
|      101913.08|           110594.11|           229160.95|Florida|146121.95|
|      100671.96|            91790.61|           249744.55|Florida| 144259.4|
|       93863.75|           127320.38|           249839.44|Florida|141585.52|
|       91992.39|           135495.07|           252664.93|Florida|134307.35|
|      119943.24|           156547.42|           256512.92|Florida|132602.65|
|      114523.61|           122616.84|           261776.23|Florida|129917.04|
|       78013.11|           121597.55|           264346.06|Florida|126992.93|
|       94657.16|           145077.58|           282574.31|Florida|125370.37|
|       91749.16|           114175.79|           294919.57|Florida| 124266.9|
+---------------+--------------------+--------------------+-------+---------+
only showing top 20 rows

In [55]:
df_pyspark = spark.read.option('header', 'true').csv('Startups.csv')
df_pyspark.show()

+---------------+--------------------------+---------------------+-------+---------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|
+---------------+--------------------------+---------------------+-------+---------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|
|        86419.7|                 153514.11|                    0|Florida|122776.86|
+---------------+--------------------------+---------------------+-------+---------+
only showing top 20 rows

In [56]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [57]:
df_pyspark.head(3)

[Row(R&D Expenditure='165349.2', Administration Expenditure='136897.8', Marketing Expenditure='471784.1', State='Florida', Profit='192261.83'),
 Row(R&D Expenditure='162597.7', Administration Expenditure='151377.59', Marketing Expenditure='443898.53', State='Florida', Profit='191792.06'),
 Row(R&D Expenditure='153441.51', Administration Expenditure='101145.55', Marketing Expenditure='407934.54', State='Florida', Profit='191050.39')]

In [58]:
df_pyspark.printSchema()

root
 |-- R&D Expenditure: string (nullable = true)
 |-- Administration Expenditure: string (nullable = true)
 |-- Marketing Expenditure: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: string (nullable = true)

## Part 1 - In this Course we will 
* PySpark DataFrame
* Reading the Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns and Indexing
* Check Describe Option Similar to Pandas
* Adding Columns
* Dropping Columns
* Rename Columns

### Creating a session

In [59]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [60]:
spark

### Read The Dataset

In [61]:
# Read The Dataset
"""! 
inferShcema > use the main data type insted of `String` which is the main 
header = True > to use the first `row` of the dateset as Headers 
"""
df_pyspark = spark.read.option('header', 'true').csv('Startups.csv',inferSchema = True) 
df_pyspark

DataFrame[R&D Expenditure: double, Administration Expenditure: double, Marketing Expenditure: double, State: string, Profit: double]

In [62]:
df_pyspark.show()

+---------------+--------------------------+---------------------+-------+---------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|
+---------------+--------------------------+---------------------+-------+---------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|
+---------------+--------------------------+---------------------+-------+---------+
only showing top 20 rows

In [63]:
# Check the Schema (datatypes)
df_pyspark.printSchema()

root
 |-- R&D Expenditure: double (nullable = true)
 |-- Administration Expenditure: double (nullable = true)
 |-- Marketing Expenditure: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [64]:
# Instead of the previous way, you can use this, it will be same as previous
df_pyspark = spark.read.csv('Startups.csv',header = True , inferSchema = True)
df_pyspark.show()

+---------------+--------------------------+---------------------+-------+---------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|
+---------------+--------------------------+---------------------+-------+---------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|
+---------------+--------------------------+---------------------+-------+---------+
only showing top 20 rows

In [65]:
type(df_pyspark)
## What is the Data frame?
# DataFrame is a Data Structure, inside this you can perform operations

pyspark.sql.dataframe.DataFrame

In [66]:
df_pyspark.columns

['R&D Expenditure',
 'Administration Expenditure',
 'Marketing Expenditure',
 'State',
 'Profit']

In [67]:
df_pyspark.head(3) # as in Pandas

[Row(R&D Expenditure=165349.2, Administration Expenditure=136897.8, Marketing Expenditure=471784.1, State='Florida', Profit=192261.83),
 Row(R&D Expenditure=162597.7, Administration Expenditure=151377.59, Marketing Expenditure=443898.53, State='Florida', Profit=191792.06),
 Row(R&D Expenditure=153441.51, Administration Expenditure=101145.55, Marketing Expenditure=407934.54, State='Florida', Profit=191050.39)]

In [68]:
df_pyspark.select('State').show() # returns also a DataFrame

+-------+
|  State|
+-------+
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
|Florida|
+-------+
only showing top 20 rows

In [69]:
df_pyspark.select(['State', 'Profit']).show() # returns also a DataFrame

+-------+---------+
|  State|   Profit|
+-------+---------+
|Florida|192261.83|
|Florida|191792.06|
|Florida|191050.39|
|Florida|182901.99|
|Florida|166187.94|
|Florida|156991.12|
|Florida|156122.51|
|Florida| 155752.6|
|Florida|152211.77|
|Florida|149759.96|
|Florida|146121.95|
|Florida| 144259.4|
|Florida|141585.52|
|Florida|134307.35|
|Florida|132602.65|
|Florida|129917.04|
|Florida|126992.93|
|Florida|125370.37|
|Florida| 124266.9|
|Florida|122776.86|
+-------+---------+
only showing top 20 rows

In [70]:
df_pyspark.dtypes

[('R&D Expenditure', 'double'),
 ('Administration Expenditure', 'double'),
 ('Marketing Expenditure', 'double'),
 ('State', 'string'),
 ('Profit', 'double')]

In [71]:
df_pyspark.describe().show()

+-------+-----------------+--------------------------+---------------------+-------+------------------+
|summary|  R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|            Profit|
+-------+-----------------+--------------------------+---------------------+-------+------------------+
|  count|               50|                        50|                   50|     50|                50|
|   mean|73721.61559999999|        121344.63959999995|   211025.09780000005|   null|112012.63920000002|
| stddev|45902.25648230754|        28017.802755488683|   122290.31072584528|   null|40306.180337650534|
|    min|              0.0|                  51283.14|                  0.0|Florida|           14681.4|
|    max|         165349.2|                 182645.56|             471784.1|Florida|         192261.83|
+-------+-----------------+--------------------------+---------------------+-------+------------------+

In [72]:
# Adding Columns in dataframe
df_pyspark2 = df_pyspark.withColumn('Profit plus 1' , df_pyspark['Profit']+1  ) # (Column Name , data you wanna put) it is not `inplace` by default
df_pyspark2.show()

+---------------+--------------------------+---------------------+-------+---------+-------------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|Profit plus 1|
+---------------+--------------------------+---------------------+-------+---------+-------------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|    192262.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|    191793.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|    191051.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|    182902.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|    166188.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|    156992.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|    156123.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|     155753.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|    152212.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|    149760.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|    146122.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|     144260.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|    141586.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|    134308.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|    132603.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|    129918.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|    126993.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|    125371.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|     124267.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|    122777.86|
+---------------+--------------------------+---------------------+-------+---------+-------------+
only showing top 20 rows

In [73]:
# Drop the Columns
df_pyspark2 = df_pyspark2.drop('Profit plus 1')
df_pyspark2.show()

+---------------+--------------------------+---------------------+-------+---------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|
+---------------+--------------------------+---------------------+-------+---------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|
+---------------+--------------------------+---------------------+-------+---------+
only showing top 20 rows

In [74]:
# Rename the Columns
df_pyspark2.withColumnRenamed('Profit' , "Prof").show() # (Old name , New name)

+---------------+--------------------------+---------------------+-------+---------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|     Prof|
+---------------+--------------------------+---------------------+-------+---------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|
+---------------+--------------------------+---------------------+-------+---------+
only showing top 20 rows

## Part 2 - Handling Missing Values
* Dropping Columns
* Dropping Rows
* Various Parameter in Dropping Functionalities
* Handling Missing Values by Mean, Median and Mode

In [75]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [76]:
df_pyspark = spark.read.csv('Startups.csv',header = True , inferSchema = True)

In [77]:
# Drop Columns
df_pyspark.drop('') # ($column_name)

DataFrame[R&D Expenditure: double, Administration Expenditure: double, Marketing Expenditure: double, State: string, Profit: double]

In [78]:
# Drop Null Rows
"""
na.drop
na.fill
na.replace
"""
df_pyspark.na.drop().show()

df_pyspark.na.drop(how = 'all') #('all', 'any': Default ) delete the row that has `all` null 
df_pyspark.na.drop(thresh = 2) # Delete rows with less than `2` non-null values
df_pyspark.na.drop(subset = ['State'])  # apply on these Columns


# Filling the missing values
df_pyspark.na.fill('Missing Values','State') # Replace `null` with 'Missing Values' from `State` Column
# df_pyspark.na.fill('Missing Values',['State','',''])


from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols = ['Profit'],
    outputCols = [f'{c}_imputed' for c in ['Profit']]
).setStrategy('mean')
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------------+--------------------------+---------------------+-------+---------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|
+---------------+--------------------------+---------------------+-------+---------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|
+---------------+--------------------------+---------------------+-------+---------+
only showing top 20 rows

+---------------+--------------------------+---------------------+-------+---------+--------------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit|Profit_imputed|
+---------------+--------------------------+---------------------+-------+---------+--------------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|     192261.83|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|     191792.06|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|     191050.39|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|     182901.99|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|     166187.94|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|     156991.12|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|     156122.51|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|      155752.6|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|     152211.77|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|     149759.96|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|     146121.95|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|      144259.4|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|     141585.52|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|     134307.35|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|     132602.65|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|     129917.04|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|     126992.93|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|     125370.37|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|      124266.9|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|     122776.86|
+---------------+--------------------------+---------------------+-------+---------+--------------+
only showing top 20 rows

## Part 3 - DataFrames
* Filter Operations
* & - | - ==
* ~

### Filter Operation

In [79]:
# You can use any operaitons you want
df_pyspark.filter('Profit >= 2000 ').select(['State']).show(3)

df_pyspark.filter((df_pyspark['Profit'] >= 2000) & (df_pyspark['Profit'] <= 50000)).select(['State','Profit']).show()

df_pyspark.filter(~(df_pyspark['Profit'] >= 2000)).select(['State','Profit']).show()  # the `~` sign Represents `Not` == `!`

+-------+
|  State|
+-------+
|Florida|
|Florida|
|Florida|
+-------+
only showing top 3 rows

+-------+--------+
|  State|  Profit|
+-------+--------+
|Florida|49490.75|
|Florida|42559.73|
|Florida|35673.41|
|Florida| 14681.4|
+-------+--------+

+-----+------+
|State|Profit|
+-----+------+
+-----+------+

## Part 4 - GroupBy & Aggregate

In [80]:
# GroupBy
df_pyspark.groupby('State').sum().show()

+-------+--------------------+-------------------------------+--------------------------+-----------------+
|  State|sum(R&D Expenditure)|sum(Administration Expenditure)|sum(Marketing Expenditure)|      sum(Profit)|
+-------+--------------------+-------------------------------+--------------------------+-----------------+
|Florida|          3686080.78|              6067231.979999998|      1.0551254890000002E7|5600631.960000001|
+-------+--------------------+-------------------------------+--------------------------+-----------------+

In [81]:
df_pyspark.agg({'Profit':'sum'}).show()

+-----------------+
|      sum(Profit)|
+-----------------+
|5600631.960000001|
+-----------------+

## PySpark ML
[Age , Experience] ----> New Feature -----> Independent Feature

In [82]:
# it will combine them in one List as one Feature
from pyspark.ml.feature import VectorAssembler
featureAssembler = VectorAssembler(inputCols = ['Marketing Expenditure','Profit'] , outputCol = 'Independent Feature')
output = featureAssembler.transform(df_pyspark)
output.show()

+---------------+--------------------------+---------------------+-------+---------+--------------------+
|R&D Expenditure|Administration Expenditure|Marketing Expenditure|  State|   Profit| Independent Feature|
+---------------+--------------------------+---------------------+-------+---------+--------------------+
|       165349.2|                  136897.8|             471784.1|Florida|192261.83|[471784.1,192261.83]|
|       162597.7|                 151377.59|            443898.53|Florida|191792.06|[443898.53,191792...|
|      153441.51|                 101145.55|            407934.54|Florida|191050.39|[407934.54,191050...|
|      144372.41|                 118671.85|            383199.62|Florida|182901.99|[383199.62,182901...|
|      142107.34|                  91391.77|            366168.42|Florida|166187.94|[366168.42,166187...|
|       131876.9|                  99814.71|            362861.36|Florida|156991.12|[362861.36,156991...|
|      134615.46|                 147198.87|            127716.82|Florida|156122.51|[127716.82,156122...|
|      130298.13|                 145530.06|            323876.68|Florida| 155752.6|[323876.68,155752.6]|
|      120542.52|                 148718.95|            311613.29|Florida|152211.77|[311613.29,152211...|
|      123334.88|                 108679.17|            304981.62|Florida|149759.96|[304981.62,149759...|
|      101913.08|                 110594.11|            229160.95|Florida|146121.95|[229160.95,146121...|
|      100671.96|                  91790.61|            249744.55|Florida| 144259.4|[249744.55,144259.4]|
|       93863.75|                 127320.38|            249839.44|Florida|141585.52|[249839.44,141585...|
|       91992.39|                 135495.07|            252664.93|Florida|134307.35|[252664.93,134307...|
|      119943.24|                 156547.42|            256512.92|Florida|132602.65|[256512.92,132602...|
|      114523.61|                 122616.84|            261776.23|Florida|129917.04|[261776.23,129917...|
|       78013.11|                 121597.55|            264346.06|Florida|126992.93|[264346.06,126992...|
|       94657.16|                 145077.58|            282574.31|Florida|125370.37|[282574.31,125370...|
|       91749.16|                 114175.79|            294919.57|Florida| 124266.9|[294919.57,124266.9]|
|        86419.7|                 153514.11|                  0.0|Florida|122776.86|     [0.0,122776.86]|
+---------------+--------------------------+---------------------+-------+---------+--------------------+
only showing top 20 rows

In [83]:
from pyspark.ml.regression import LinearRegression
finalized_data = output.select("Profit" , "Independent Feature")

# Train test Split
train_data , test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent Feature' , labelCol='Profit')
regressor = regressor.fit(train_data)

In [84]:
# Coefficients
regressor.coefficients

DenseVector([0.0, 1.0])

In [85]:
# Intercepts
regressor.intercept

1.141136435101166e-10

In [86]:
# Prediction
pred_results = regressor.evaluate(test_data)
pred_results.predictions.show()

+---------+--------------------+------------------+
|   Profit| Independent Feature|        prediction|
+---------+--------------------+------------------+
| 99937.59| [91131.24,99937.59]| 99937.58999999995|
|103282.38|[118148.2,103282.38]|103282.37999999998|
| 124266.9|[294919.57,124266.9]|124266.90000000001|
|129917.04|[261776.23,129917...|129917.03999999998|
|132602.65|[256512.92,132602...|132602.64999999997|
|156122.51|[127716.82,156122...| 156122.5099999999|
|182901.99|[383199.62,182901...|182901.98999999993|
|191050.39|[407934.54,191050...|191050.38999999996|
+---------+--------------------+------------------+

In [87]:
pred_results.meanAbsoluteError , pred_results.meanSquaredError

(4.547473508864641e-11, 3.0440246541951415e-21)